@model Automarket.Domain.ViewModels.UserViewModel
@using Automarket.Domain.Enum
@{
    ViewBag.Title = "Edit";
    Layout = "_Layout";
}
<link href="~/css/editAccount.css" rel="stylesheet">

<div class="container mx-auto mt-8">
    <h2 class="text-2xl font-bold mb-4">Edit User</h2>

    @using (Html.BeginForm("Edit", "Account", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CartItems)

            <div class="form-group">
                <label for="Name" class="form-label">Name</label>
                <input type="text" id="Name" name="Name" class="form-input" value="@Model.Name">
            </div>

            <div class="form-group">
                <label for="Email" class="form-label">Email</label>
                <input type="email" id="Email" name="Email" class="form-input" value="@Model.Email">
            </div>

            <div class="form-group">
                <label for="Password" class="form-label">Password</label>
                <input type="password" id="Password" name="Password" class="form-input">
            </div>

            <div class="form-group">
                <label for="Role" class="form-label">Role</label>
                <select id="Role" name="Role" class="form-input">
                @foreach (UserRole role in Enum.GetValues(typeof(UserRole)))
                {
                            <option value="@role">@role</option>
                }
                </select>
            </div>

            <div class="form-group">
                <button type="submit" class="form-button">Update User</button>
            </div>
    }
</div>