@model List<Automarket.Domain.Models.User>
@using Automarket.Domain.Enum

@{
    ViewBag.Title = "Manage Users";
    Layout = "_Layout";
}
<link href="~/css/manageAccounts.css" rel="stylesheet">

<div class="container mx-auto mt-8">
    <h2 class="text-2xl font-bold mb-4">Manage Users</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                    <tr>
                        <td>@user.Name</td>
                        <td>@user.Email</td>
                        <td>@user.Role.ToString()</td>
                        <td class="action-links">
                            <a href="@Url.Action("Edit", "Account", new { id = user.Id })">Edit</a>
                            <a href="@Url.Action("Delete", "Account", new { id = user.Id })">Delete</a>
                        </td>
                    </tr>
            }
        </tbody>
    </table>

    <div class="mt-4">
        <a href="@Url.Action("Create", "Account")" class="create-user-button">Create New User</a>
    </div>
</div>