<link href="~/css/car.css" rel="stylesheet">

<div class="car-container">
    <img src="~/images/@Model.Image" alt="@Model.Name" class="car-image">
    <h1 class="car-title">@Model.Name</h1>
    <p class="car-description">@Model.Description</p>
    <ul class="car-details">
        <li><strong>Model:</strong> @Model.Model</li>
        <li><strong>Speed:</strong> @Model.Speed mph</li>
        <li><strong>Price:</strong> @String.Format("{0:C}", Model.Price)</li>
        <li><strong>Date Created:</strong> @Model.DateCreate.ToString("yyyy-MM-dd")</li>
        <li><strong>Type:</strong> @Model.TypeCar</li>
    </ul>
    <div class="button-container">
        <div>
            <a asp-controller="Car" asp-action="GetCars" class="back-btn">Back to Cars</a>
        </div>
        <div>
            <form method="post" action="@Url.Action("Add", "Cart", new { id = Model.Id })">
                <button type="submit" class="add-to-cart-btn">Add to cart</button>
            </form>
        </div>
        @if(User.IsInRole("Admin")){
        <div>
            <form method="post" action="@Url.Action("Delete", "Car", new { id = Model.Id })">
                <button type="submit" class="delete-btn">Delete</button>
            </form>
        </div>
        }
    </div>
</div>
