@model List<Automarket.Domain.Models.Car>

@{
    ViewBag.Title = "All cars";
    Layout = "_Layout";
}
<link href="~/css/cars.css" rel="stylesheet">

<div class="container">
    @if (User.IsInRole("Admin"))
    {
            <div class="flex justify-end mb-4">
                <a asp-controller="Car" asp-action="Create" class="add-car-btn">Add Car</a>
            </div>
    }

    @if (Model != null && Model.Any())
    {
            <h1 class="heading">Available Cars</h1>
            <div class="car-container">
            @foreach (var car in Model)
            {
                        <div class="car-card">
                            <img src="~/images/@car.Image" alt="@car.Name">
                            <div class="car-details">
                                <h2>@car.Name</h2>
                                <p>@car.Description</p>
                                <ul>
                                    <li><strong>Model:</strong> @car.Model</li>
                                    <li><strong>Speed:</strong> @car.Speed mph</li>
                                    <li><strong>Price:</strong> @String.Format("{0:C}", car.Price)</li>
                                    <li><strong>Date Created:</strong> @car.DateCreate.ToString("yyyy-MM-dd")</li>
                                    <li><strong>Type:</strong> @car.TypeCar</li>
                                </ul>
                            </div>
                            <div class="actions">
                                <a asp-controller="Car" asp-action="GetCarById" asp-route-id="@car.Id" class="view-details">View Details</a>
                        @if (User.IsInRole("Admin"))
                        {
                                        <a asp-controller="Car" asp-action="Edit" asp-route-id="@car.Id" class="edit">Edit</a>
                        }
                            </div>
                        </div>
            }
            </div>
    }
</div>